name: Blockply
markdown: kramdown
permalink: /:categories/:title
paginate: 8
paginate_path: "/page/:num/"
sass:
  sass_dir: _sass
  style: compressed
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate
  - jemoji
