.navbar-categories {
  background: $white;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .navbar-nav {
    a.nav-link,
    .active>.nav-link {
      text-transform: capitalize;
      font-weight: 600;
      color: $gray;
      font-size: 0.8rem;
    }
  }
}
