.navbar-categories {
  background: $white;

  .navbar-nav {
    a.nav-link,
    .active>.nav-link {
      text-transform: capitalize;
      font-weight: 600;
      color: $gray;
      font-size: 0.8rem;
    }
  }
}
