.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $gray-lighter;
  display: none;

  p:last-child {
    margin-bottom: 0;
  }

  button.close {
    position: absolute;
    right: 16px;
  }
}
