$categories: (
  games: $green,
  wallets: $orange,
  exchanges: $blue,
  storage: $green,
  privacy: $red
);

@each $key, $value in $categories {
  .bg-#{$key} {
    background-color: $value;
  }
  .text-#{$key} {
    color: $value;
  }
}
