.post {
  text-decoration: none;
  border-radius: 0;
  border-bottom: 1px solid $gray-lighter;
  transition: all .25s;
  background: $white;
  padding: 1.25rem;

  &,
  &:hover {
    color: $gray-dark;
  }

  &.single {
    margin-bottom: 2rem;
    border-radius: $border-radius-sm;

    img.thumbnail {
      height: 96px;
      width: 96px;
    }
  }

  img.thumbnail {
    height: 64px;
    width: 64px;
  }

  &:first-child {
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
  }

  &:last-child {
    border-bottom: 0;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  .category {
    text-transform: capitalize;
  }

  .title {
    color: $black;
    font-weight: 600;
  }

  &:not(.single) .title {
    font-size: .9375rem;
  }

  .date {
    font-size: .875rem;
  }

  .preview {
    border: 1px solid lighten($gray-light, 30%);
    width: 100%;
    margin-bottom: 10px;
  }
}
