.post {
  text-decoration: none;
  border-radius: 0;
  border-bottom: 1px solid $gray-lighter;
  transition: all .25s;
  background: $white;

  &:not(.single) {
    padding: 15px;
  }

  &,
  &:hover {
    color: $gray-dark;
  }

  &:hover:not(.single) {
    background: lighten($yellow, 45%);
    transition: all .25s;
  }

  &.single {
    margin-bottom: 2rem;

    img.thumbnail {
      height: 96px;
      width: 96px;
    }
  }

  img.thumbnail {
    height: 64px;
    width: 64px;
  }

  &:last-child:not(.single) {
    border-bottom: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  .category {
    text-transform: capitalize;
  }

  .title {
    color: $black;
    font-weight: 600;
  }

  .date {
    font-size: .875rem;
  }

  .preview {
    border: 1px solid lighten($gray-light, 30%);
    border-radius: $border-radius;
    width: 100%;
    margin-bottom: 10px;
  }
}
