.price {
  .price-change {
    display: inline-block;
    font-size: 80%;
    &.positive {
      color: #2ECC40;
    }
    &.negative {
      color: #FF4136;
    }
  }

  .price-btc {
    display: none;
  }

  .price-usd {
    display: inline-block;
  }

  &:hover {
    .price-btc {
      display: inline-block;
    }

    .price-usd {
      display: none;
    }
  }
}
