.twitter {
  background: transparent;
  p {
    font-size: 1rem;
    margin: 3px;
  }
  .float-right {
    line-height: 1;
  }
}

.btn-twitter {
  font-weight: normal;
  font-size: 13px;
  background-color: #1b95e0;
  padding: .4rem .5rem;
}
