<nav class="navbar navbar-inverse navbar-main rounded navbar-toggleable-md navbar-toggleable-xl">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/img/logo-white.png" width="36" height="36" alt="{{ site.name }}" class="d-inline-block"> {{ site.name }}
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active hidden-sm-down">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item active hidden-sm-down">
          <a class="nav-link" href="https://docs.google.com/forms/d/1gIW9TWOOQWJ5-O2tRzlNRClfZEyX1rufCZRpZT7qTzA" target="_blank">Submit</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
