<nav class="navbar navbar-light rounded navbar-toggleable-md navbar-toggleable-xl">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" width="42" height="42" alt="{{ site.name }}" class="d-inline-block"> {{ site.name }}
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active hidden-sm-down">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <form role="search" method="get" action="/search/" class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Discover projects.." id="searchString" name="searchString">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
          <span class="hidden-sm-down">Search</span>
          <span class="hidden-md-up"><i class="fa fa-search"></i></span>
        </button>
      </form>
    </div>
  </div>
</nav>
