<div class="jumbotron text-center">
  <div class="container">
    <h1 class="h2">Welcome to {{ site.name }}</h1>
    <p class="text-lg text-muted">A collection of the most interesting Blockchain & Cryptocurrency resources.<br />Subcribe to our newsletter to receive the latest recourses in your inbox.</p>
    <p><a class="btn btn-lg btn-warning" href="https://blockply.us3.list-manage.com/subscribe/post?u=28eca916b19f55b7aca6ef9c8&amp;id=b5eb0dd5c6" target="_blank">Subscribe</a></p>
  </div>
</div>
