<div class="post media">
	<a href="{{ post.url }}">
		<img class="thumbnail d-flex mr-3" src="{{ post.thumbnail }}" alt="{{ post.title }}">
	</a>
	<div class="media-body">
		<a href="{{ post.url }}">
			<h3 class="title mt-0 h6">{{ post.title }}</h3>
			<span class="text-muted">{{ post.content | strip_html | truncatewords: 20 }}</span><br />
		</a>
		<div class="footer">
			<span class="date timeago mt-1 d-inline-block" datetime="{{ post.date }}" title="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</span> • <span class="category">{% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% endfor %}</span>
		</div>
	</div>
</div>
