---
layout: default
---

<article class="post single">
	<div class="row">
		<div class="col-md-6">
			<h1 class="title mt-0 mb-2 h5">{{ page.title }}</h1>

			<span class="text-muted">{{ page.content }}</span>
			<div class="footer">
				<span class="date">{{ page.date | date_to_string }}</span>
			</div>

			<div class="share mt-1 mb-2">
				<a class="btn btn-sm btn-warning" href="{{ page.external }}" target="_blank" title="{{ page.title }}"><i class="icon-link-ext"></i> Open App</a>
				<a class="btn btn-sm btn-facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="icon-facebook"></i> Share</a>
				<a class="btn btn-sm btn-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="icon-twitter"></i> Tweet</a>
			</div>
		</div>
		<div class="col-md-6">
			<a href="{{ page.external }}" target="_blank">
				<img src="/files/{{ page.slug }}.png" alt="{{ page.title }}" class="preview" />
			</a>
		</div>
	</div>
</article>

{% include related.html %}
